@import url('../../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Lora');
/*
* Sorting Hat Bot for Slack
* Copyright 2017, Elizabeth Lovero
* www.sortinghat.co
*/
/* Base Styles
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@-ms-viewport {
    width: device-width;
}
body {
    -ms-overflow-style: scrollbar;
}
@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
}
html,
body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
@media screen and (max-height: 640px) {
    html,
    body {
        height: auto;
        min-height: 100%;
    }
}
body {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-color: #333;
    padding: 6em 4em 4em 4em;
}
body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
@media screen and (max-width: 1680px) {
    body {
        padding: 3em 3.5em 3.5em 3.5em;
    }
}
@media screen and (max-width: 736px) {
    body {
        padding: 0em 2em 2em 2em;
    }
}
@media screen and (max-width: 360px) {
    body {
        padding: 0em 1.25em 1.25em 1.25em;
    }
}
/* Type
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.65em;
}
@media screen and (max-width: 1680px) {
    body {
        font-size: 12pt;
    }
}
a {
    -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
    transition: border-bottom-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}
strong,
b {
    color: #fff;
    font-weight: 700;
}
p {
    font-family: "Lora", Georgia, serif;
    margin: 0 0 2em 0;
}
h1,
h2 {
    color: #fff;
    font-weight: 700;
    line-height: 1.25em;
    margin: 1em 0 .25em 0;
    font-family: 'Rakkas', Georgia, serif;
    text-align: center;
}
h1 {
    font-size: 3.25em;
}
h2 {
    font-size: 1.75em;
}
code {
    background: rgba(255, 255, 255, 0.125);
    border-radius: 6px;
    border: solid 2px rgba(255, 255, 255, 0.35);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}
pre {
    margin: 0 0 2em 0;
}
pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

/* Section - Article
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

/* Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hat {
    height: 100px !important;
}

/* Header */
header p {
    color: rgba(255, 255, 255, 0.75);
    position: relative;
    font-size: 1.35em;
    line-height: 1.65em;
}
header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
}
header a {
    color: inherit;
}
@media screen and (max-width: 736px) {
    header h1 {
        font-size: 2em;
    }
    header p {
        font-size: 1em;
    }
}
@media screen and (max-width: 480px) {
    header {
        margin: 0 0 1em 0;
    }
}
/* Footer
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    bottom: 4em;
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .icons {
    margin: 0 0 0.5em 0;
}
footer .copyright {
    font-size: 0.8em;
    list-style: none;
    padding: 0;
}
footer .copyright li {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    display: inline-block;
    line-height: 1em;
    margin: 0 0 0 0.75em;
    padding: 0 0 0 0.75em;
}
footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
footer .copyright a , footer .icons a {
    color: rgba(255, 255, 255, 0.85);
}
footer:hover {
    opacity: 1;
}
footer >:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 1680px) {
    footer {
        bottom: 3.5em;
    }
}
@media screen and (max-width: 736px) {
    footer {
        bottom: 2em;
    }
}
@media screen and (max-width: 360px) {
    footer {
        bottom: 1.25em;
    }
}
@media screen and (max-height: 640px) {
    footer {
        bottom: auto;
        left: auto;
        margin: 1em 0 0 0;
        position: relative;
    }
}


/* Background
	–––––––––––––––––––––––––––––––––––––––––––––––––– */
#bg {
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#bg div {
    -moz-transition: opacity 3s ease, visibility 3s;
    -webkit-transition: opacity 3s ease, visibility 3s;
    -ms-transition: opacity 3s ease, visibility 3s;
    transition: opacity 3s ease, visibility 3s;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 150%;
}
#bg div.visible {
    -moz-animation: bg 45s linear infinite;
    -webkit-animation: bg 45s linear infinite;
    -ms-animation: bg 45s linear infinite;
    animation: bg 45s linear infinite;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
#bg div.visible.top {
    z-index: 2;
}
@media screen and (max-width: 1280px) {
    #bg div.visible {
        -moz-animation: bg 29.25s linear infinite;
        -webkit-animation: bg 29.25s linear infinite;
        -ms-animation: bg 29.25s linear infinite;
        animation: bg 29.25s linear infinite;
    }
}
@media screen and (max-width: 736px) {
    #bg div.visible {
        -moz-animation: bg 18s linear infinite;
        -webkit-animation: bg 18s linear infinite;
        -ms-animation: bg 18s linear infinite;
        animation: bg 18s linear infinite;
    }
}
#bg div:only-child {
    -moz-animation-direction: alternate !important;
    -webkit-animation-direction: alternate !important;
    -ms-animation-direction: alternate !important;
    animation-direction: alternate !important;
}
body.is-loading #bg {
    opacity: 0;
}
@-moz-keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}
@-webkit-keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}
@-ms-keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}
@keyframes bg {
    0% {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -moz-transform: translateX(-25%);
        -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
        transform: translateX(-25%);
    }
}
