/*
* Sorting Hat Bot for Slack
* Copyright 2017, Elizabeth Lovero
* www.sortinghat.co
*/

section.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5%;
}

section.header > img {
  width: 350px;
  height: auto;
  max-width: 80%;
}

h1.title{
  text-align: center;
}
